.desktop {
  width: 100vw;
  height: 90vh;
  position: relative;
  display: flex;

  .selectionBox {
    position: absolute;
    border: dotted 2px grey;
  }

  .desktopItem {
    width: 8rem;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;

    &:hover {
      border: dotted 2px black;
    }

    img {
      // box-shadow: 0 0 3px black
      width: 3rem;
    }

    p {
      width: 75%;
      word-break: normal;
      text-align: center;
      padding: 0.7rem 0 0 0;
      text-shadow: 4px 2px 5px black, 4px 2px 5px black;
    }
  }
}
