.desktopItem {
  width: 8rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;

  &:hover {
    border: dotted 2px black;
  }

  img {
    // box-shadow: 0 0 3px black
    width: 3rem;
  }

  p {
    width: 75%;
    word-break: normal;
    text-align: center;
    padding: 0.7rem 0 0 0;
    text-shadow: 4px 2px 5px black, 4px 2px 5px black;
  }
}

.loadingScreenOne {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0 10rem 0;

  .loadingBar {
    width: 10rem;
  }

  .loadingWindowsLogo {
    width: 40rem;
  }
}

.loadingScreenTwo {
  background-color: #5a7edc;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &::after {
    display: block;
    width: 100vw;
    height: 10%;
    background-color: #00309c;
    // border-bottom: solid 3px rgb(255, 255, 255, .8)
    // border-bottom: solid 3px radial-gradient(to right, white, white)
    content: "";
    position: absolute;
    top: 0;
  }

  &::before {
    display: block;
    width: 100vw;
    height: 10%;
    background-color: #00309c;
    content: "";
    position: absolute;
    bottom: 0;
  }

  .radialGradient {
    width: 150rem;
    height: 150rem;
    border-radius: 1000rem;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-55%, -55%);
    // background: linear-gradient(to bottom right, rgb(255, 255, 255, .9), rgb(200, 200, 200, .1))
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 30%
    );
  }

  .line {
    width: 0.15rem;
    height: 20rem;
    background-color: rgb(255, 255, 255, 0.2);
    // box-shadow: 0 0 5px inset rgb(255, 255, 255, .3)
    margin: 0 5rem;
  }

  .introduction {
    // margin: 0 0 5rem 0

    .windowsLogo {
      width: 25rem;
      // margin: 0 0 3rem 0
    }

    p {
      font-size: 1.5rem;
      color: white;
      margin: 3rem 0;
      text-align: center;
    }
  }

  .userProfile {
    display: flex;
    align-items: center;

    img {
      width: 5rem;
      border: solid 3px rgb(200, 200, 200);
      border-radius: 0.5rem;
    }

    p {
      font-size: 2rem;
      margin: 0 0 0 1rem;
      color: white;
    }
  }
}
